.product-card {
    @apply rounded-2xl bg-white dark:bg-black dark:text-white text-xl p-5 border-2 shadow-md border-[var(--gold-two)] flex flex-col justify-center items-center gap-5  !flex-1 max-w-[300px];
}

.product-card>img {
    @apply rounded-xl  shadow-md;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.product-card>P {
    @apply font-bold;
}

.product-card>div {
    @apply flex items-center gap-2;
}

.product-card>button {
    @apply flex p-3 w-full justify-center rounded-xl items-center gap-2  font-bold text-white shadow-md;
    background-image: var(--gold-gradiant);
}