.product-card {
    @apply rounded-2xl relative bg-white  dark:bg-black dark:text-white text-xl p-5 border-2 shadow-md border-[var(--gold-two)] flex flex-col justify-between items-center gap-5  !flex-1 max-w-[300px];
}

.product-card__bg {
    @apply absolute w-full h-full z-[-1] bottom-0 rounded-lg;
    background: linear-gradient(135deg, #CECECE 0%, #CECECE 5%, transparent 5%, transparent 10%, #CECECE 10%, #CECECE 15%, transparent 15%, transparent 20%, #CECECE 20%, #CECECE 25%, transparent 25%, transparent 30%, #CECECE 30%, #CECECE 35%, transparent 35%, transparent 40%, #CECECE 40%, #CECECE 45%, transparent 45%, transparent 50%, #CECECE 50%, #CECECE 55%, transparent 55%, transparent 60%, #CECECE 60%, #CECECE 65%, transparent 65%, transparent 70%, #CECECE 70%, #CECECE 75%, transparent 70%, transparent 80%, #CECECE 80%, #CECECE 85%, transparent 85%, transparent 90%, #CECECE 90%, #CECECE 95%, transparent 95%);
    background-size: 1.5em 1.5em;
    background-color: #eff6ff;
    opacity: 0.15;
}

.product-card>img {
    @apply rounded-xl  shadow-md;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.product-card>P {
    @apply font-bold w-full text-wrap text-center;
}

.product-card>P:last-of-type{
    @apply font-normal text-sm text-center leading-6
}



.product-card__button {
    @apply flex p-3 w-full justify-center rounded-xl items-center gap-2  font-bold text-white shadow-md;
    background-image: var(--gold-gradiant);
}