@font-face {
  font-family: 'KalamehWeb';
  src: url('/fonts/eot/KalamehWeb(FaNum)-Black.eot');
  src: url('/fonts/eot/KalamehWeb(FaNum)-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/woff2/KalamehWeb(FaNum)-Black.woff2') format('woff2'),
    url('/fonts/woff/KalamehWeb(FaNum)-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('/fonts/eot/KalamehWeb(FaNum)-Bold.eot');
  src: url('/fonts/eot/KalamehWeb(FaNum)-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/woff2/KalamehWeb(FaNum)-Bold.woff2') format('woff2'),
    url('/fonts/woff/KalamehWeb(FaNum)-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('/fonts/eot/KalamehWeb(FaNum)-Regular.eot');
  src: url('/fonts/eot/KalamehWeb(FaNum)-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/woff2/KalamehWeb(FaNum)-Regular.woff2') format('woff2'),
    url('/fonts/woff/KalamehWeb(FaNum)-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('/fonts/eot/KalamehWeb(FaNum)-Thin.eot');
  src: url('/fonts/eot/KalamehWeb(FaNum)-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/woff2/KalamehWeb(FaNum)-Thin.woff2') format('woff2'),
    url('/fonts/woff/KalamehWeb(FaNum)-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

/* ////////////////////////////////////////// */

@font-face {
  font-family: ravi;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/woff2/RaviFaNum-ExtraBlack.woff2") format("woff2"),
    url("/fonts/woff/RaviFaNum-ExtraBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: ravi;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/woff2/RaviFaNum-Bold.woff2") format("woff2"),
    url("/fonts/woff/RaviFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: ravi;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/woff2/RaviFaNum-Regular.woff2") format("woff2"),
    url("/fonts/woff/RaviFaNum-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ravi;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/woff2/RaviFaNum-Light.woff2") format("woff2"),
    url("/fonts/woff/RaviFaNum-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}