footer {
    @apply w-full
}

footer>svg {
    @apply md:hidden relative top-1
}

.footer {
    @apply w-full flex flex-wrap bg-[var(--gold-one)] p-2 lg:p-4 gap-4 px-2 lg:px-10 font-bold text-base rounded-md rounded-t-none md:rounded-t-md shadow-md text-white justify-center lg:justify-between items-center
}

.footer>section:first-of-type {
    @apply flex flex-col justify-center items-center lg:items-start gap-4
}

.footer>section:first-of-type>div {
    @apply flex flex-row-reverse gap-3  border p-3 rounded-xl border-white flex-wrap-reverse justify-center items-center
}

.footer>section:first-of-type>div p{
@apply max-w-[300px] text-wrap text-center md:text-start
}

.footer>section:last-of-type {
    @apply grid-cols-2 md:grid-cols-3;
    justify-items: stretch;
    align-items: center;
    column-gap: 50px;
    display: grid;
    gap: 1.25rem;

}


.footer>section:last-of-type>button {
    @apply flex items-center gap-3 border p-3 px-5 border-white justify-between rounded-2xl;
}

.footer>section img {
    @apply drop-shadow-xl;
    filter: brightness(0) invert(100%);
    object-fit: contain;
    min-width: 2.5rem;
    max-width: 2.5rem;
    height: auto;
    height: 40px;
    width: 100%;

}


iframe {
    width: clamp(300px, 50vw, 700px);
}

@media (min-width: 1000px) and (max-width: 1650px) {
    iframe {
        display: none !important;
    }
}