.parent-footer {
    @apply w-full flex gap-10 flex-wrap justify-evenly items-center text-white bg-[#1E242B] p-5 py-8 rounded-lg shadow-2xl
}

.parent-footer section {
    @apply flex flex-col order-[-1] md:order-none justify-center items-center gap-5
}

.parent-footer__logo {
    @apply flex flex-col justify-center items-center gap-2
}

.parent-footer__logo p {
    @apply text-[0.75rem] font-bold
}

.parent-footer__quick-access {
    @apply flex flex-col justify-start w-full md:w-auto items-center gap-4 font-thin;
}


.parent-footer__quick-access>div {
    @apply flex items-center justify-center gap-2 cursor-pointer min-w-[220px]  p-4 border-2 border-double border-[--gold-one] rounded-full
}


.parent-footer__quick-access>div:first-of-type {
    @apply text-white font-bold text-lg !bg-transparent justify-center border-none
}


.parent-footer__contact-us {
    @apply flex flex-col md:hidden w-full md:w-auto justify-start border-2 border-dashed p-5  rounded-md border-[--gold-one] items-start gap-4 font-thin;
}


.parent-footer__contact-us>div {
    @apply flex items-center justify-center gap-2 cursor-pointer
}

.parent-footer__contact-us>div:first-of-type {
    @apply text-white font-bold text-lg mb-2
}


.parent-footer__map {
    @apply flex flex-col justify-start items-center gap-5
}

.parent-footer__map>div {
    @apply flex flex-row-reverse gap-2 text-white font-bold text-lg
}

.parent-footer__map>p {
    @apply max-w-[250px] text-wrap text-center
}


.parent-social-media {
    @apply flex flex-col justify-start items-center gap-5
}

.parent-social-media>div:first-of-type {
    @apply flex flex-row-reverse gap-2 text-white font-bold text-lg
}

.parent-social-media>div:last-of-type {
    @apply flex flex-wrap justify-center items-center gap-2;
}

.parent-social-media__social-icon {
    @apply flex items-center justify-center p-3 bg-[#1A1E26] rounded-xl shadow-md cursor-pointer
}

/* footer {
    @apply w-full
}

footer>svg {
    @apply md:hidden relative top-1
}

.footer {
    @apply w-full flex flex-wrap  bg-[var(--gold-one)]   p-2 lg:p-4 gap-4 px-2 lg:px-10 font-bold text-base rounded-md rounded-t-none md:rounded-t-md  text-white justify-center lg:justify-between items-center
}

.footer>section:first-of-type {
    @apply flex flex-col justify-center items-center lg:items-start gap-4 
}

.footer>section:first-of-type>div {
    @apply flex flex-row-reverse gap-3  p-3 rounded-xl bg-[var(--gold-one)] flex-wrap-reverse justify-center items-center
}

.footer>section:first-of-type>div p{
@apply max-w-[300px] text-wrap text-center md:text-start
}

.footer>section:last-of-type {
    @apply grid-cols-2 md:grid-cols-3;
    justify-items: stretch;
    align-items: center;
    column-gap: 50px;
    display: grid;
    gap: 1.25rem;

}


.footer>section:last-of-type>a {
    @apply flex items-center gap-3  cursor-pointer p-3 px-5   bg-[var(--gold-one)] justify-between rounded-2xl;
}

.footer>section img {
    @apply drop-shadow-xl;
    filter: brightness(0) invert(100%);
    aspect-ratio: 1/1;
}


iframe {
    width: clamp(300px, 50vw, 700px);
}

@media (min-width: 1000px) and (max-width: 1650px) {
    iframe {
        display: none !important;
    }
} */