.header-one {
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    display: grid;
    width: 100%;
}

@media (max-width: 1300px) {
    .header-one {
        @apply text-sm;
        grid-template-columns: 1fr;
        gap: 0rem;

    }

    .header-one>* {
        justify-self: center !important;
    }

    .header-one>section:first-of-type {
        @apply px-2 mt-3 justify-start md:justify-center;
        order: 1 !important;
        overflow-x: auto;
        width: 100%;
    }

    .header-one>section:last-of-type{
        @apply mt-3 md:justify-center;
         width: 100%;
    }
}

.header-one>img {
aspect-ratio: 4/1.5;
}

.header-one>section:first-of-type {
    justify-self: start;
}

.header-one>section {
    @apply flex items-center gap-4;
}


.header-one>section:nth-of-type(2) {
    justify-self: center;
}

.header-one>section:last-of-type {
    @apply px-2 justify-start md:!justify-center overflow-auto xl:!justify-end;
    width: 100%;

}

.header-one button {
    @apply flex items-center gap-3 border p-3 px-5 border-[var(--gold-one)] rounded-2xl text-[var(--gold-one)] font-bold;
}