@import './card-category.css';
@import './card-product.css';
@import './product-page.css';
@import './color-mood.css';
@import './header-one.css';
@import './header-two.css';
@import './contact-us.css';
@import './footer.css';
@import './font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-size: clamp(12px, 4vw, 17px);
}

:root {
    --gold-one: #D6B46C;
    --gold-two: #E7BC4C;
    --gold-gradiant: linear-gradient(137.49deg, #d8bb64 0%, #E7BC4C 50.32%, #d8bb64 96.01%);
}

* {
    -webkit-touch-callout: none;
    transition: all 0.5s ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: ravi;
    text-wrap: nowrap;
    direction: rtl;
    padding: 0;
    margin: 0;
}


::-webkit-scrollbar {
    width: 0px !important;
}

::-webkit-scrollbar-button {
    display: none !important;
}

::-webkit-scrollbar-track-piece {
    @apply bg-transparent !important;
}

body {
    @apply bg-white w-full dark:bg-black h-screen overflow-x-hidden;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;

    background:
        repeating-linear-gradient(
            45deg,
            rgba(0,0,0,.025) 0px,
            rgba(0,0,0,.025) 1px,
            transparent 1px,
            transparent 18px
        );
}

.dark body::before {
    display: none;
}


.parent-project {
    @apply p-1 w-full pt-3 min-h-dvh md:p-4 flex flex-col items-center justify-start gap-3 overflow-hidden;
}

.parent-page {
    @apply w-full  flex flex-1 flex-col items-center gap-5 justify-center
}


.parent-cards {
    @apply w-full flex flex-wrap gap-4 items-stretch mb-4 justify-center
}


.parent-page>h1 {
    @apply w-full text-2xl leading-10 font-['kalameh'] py-5 gap-2 text-center text-wrap dark:text-white flex flex-wrap justify-center items-center ;
}

.parent-page>h1 *{
    @apply text-wrap
}

.parent-page.index .animated-title span {
    @apply text-2xl font-['kalameh'] dark:text-white;
}