@import './card-category.css';
@import './card-product.css';
@import './color-mood.css';
@import './header.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    -webkit-touch-callout: none;
    transition: all 0.5s ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
    font-family: KalamehWeb;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    direction: rtl;
    padding: 0;
    margin: 0;
}

body {
    @apply bg-white dark:bg-black
}

:root {
    --gold-one: #D6B46C;
    --gold-two: #E7BC4C;
}